name: goreleaser

on:
  push:
    # tags:
    #   - '*'

permissions:
  contents: write
  # packages: write
  # issues: write

env:
  GO_VERSION: 1.15

jobs:
  linter:
    timeout-minutes: 30
    runs-on: ubuntu-20.04

    steps:
      - name: Checking out repository
        uses: actions/checkout@v3

      - name: Setting up Go environment
        uses: actions/setup-go@v3
        with:
          go-version: '^${{ env.GO_VERSION }}'
          cache: true
          cache-dependency-path: go.sum

      - name: Download gomod dependencies
        run: go mod download -x

      - name: Run linters
        uses: golangci/golangci-lint-action@v3
        with:
          working-directory: ${{ env.WORKING_DIR }}
          version: latest
          args: -v -c .golangci.yml --timeout 10m
          # skip-cache: true
          # skip-pkg-cache: true
          # skip-build-cache: true

  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - run: git fetch --force --tags

      - uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}